Html, Body {
	Margin: 0;
	Padding: 0;
}

#Map {
	Width: 100vw;
	Height: 90vh;
	height: calc(var(--vh, 1vh) * 90);
}

#Bar {
	Width: 100vw;
	Height: 10vh;
	height: calc(var(--vh, 1vh) * 10);
}

.target{
	Font-Size: 1.5em;
}
